<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosmo.team.project.dao.AdminDAO">

    <!-- 모든 회원 목록을 가져오는 쿼리 정의 -->
    <select id="getAllMembers" resultType="kosmo.team.project.dto.MemberDTO">
        SELECT * FROM member
    </select>

</mapper>
