<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosmo.team.project.dao.AdminDAO">

	<!-- 모든 회원 목록을 가져오는 쿼리 정의 -->
	<select id="getMemberList"
		resultType="kosmo.team.project.dto.MemberDTO"
		parameterType="kosmo.team.project.dto.MemberSearchDTO">
		select * from ( select rownum RNUM, zxcvb.* from (

		select
		m_no AS
		"m_no",
		mid AS "mid",
		name AS "name",
		nickname as "nickname",
		to_char(reg_date, 'YYYY-MM-DD') AS "reg_date"
		FROM
		member
		where m_no != 1
		order by
		m_no asc
    	
    <![CDATA[
    ) zxcvb) where  RNUM  >= #{begin_rowNo}  and RNUM <= #{end_rowNo}
    ]]>
	</select>



	<select id="getMemberListCnt" resultType="int">
		select
		count(*)
		from
		member
	</select>









	<!-- 게시판 모든 행의 개수 구하는 select 문 내포하는 select 태그 선언하기 -->
	<select id="getMemberListAllCnt" resultType="int">
		select count(*)
		from
		member
	</select>





	<select id="getMember" parameterType="int"
		resultType="kosmo.team.project.dto.MemberDTO">

		select
		m_no AS
		"m_no",
		mid AS "mid",
		name AS "name",
		nickname as "nickname",
		email  as "email",
		to_char(birthdate,
		'YYYY-MM-DD') AS "birthday",
		phone as "phone",
		gender as "gender",
		detail_address as "detail_address",
		
		to_char(reg_date,
		'YYYY-MM-DD') AS "reg_date"
		FROM
		member
		where
		m_no=#{m_no}

	</select>

	<update id="updateMember"
		parameterType="kosmo.team.project.dto.MemberDTO">

		update member set

		subject = #{subject}
		,writer = #{writer}
		,content
		=
		#{content}
		, reg_date = SYSDATE

		where b_no = #{b_no}

		<!-- ========================================== #{subject} 뜻 ========================================== 
			=============== {subject} 의미 =============== SQL 문에 참여할 BoardDTO 객체 안의 멤버변수 
			subject 안의 데이터를 표현하기 즉 제목을 표현하기 =============== # 의미 =============== 표현할 
			데이터가 문자라면 표현할 때 앞뒤에 ' 를 붙인다. 숫자라면 표현할 때 앞뒤에 ' 를 붙이지 않는다. -->
	</update>

	<select id="getNoticeBoardCnt" parameterType="int"
		resultType="int">
		select
		count(*) from noticeboard where b_no=#{b_no}
	</select>


	<delete id="deleteNoticeBoard"
		parameterType="kosmo.team.project.dto.CommunityDTO">
		delete from
		noticeboard
		where
		b_no=#{b_no}
		<!-- ========================================== #{b_no} 뜻 ========================================== 
			=============== {b_no} 의미 =============== SQL 문에 참여할 BoardDTO 객체 안의 멤버변수 
			b_no 안의 데이터를 표현하기 즉 게시판 번호를 표현하기 =============== # 의미 =============== 표현할 
			데이터가 문자라면 표현할 때 앞뒤에 ' 를 붙인다. 숫자라면 표현할 때 앞뒤에 ' 를 붙이지 않는다. -->
	</delete>









	<select id="getPlayerRecord" parameterType="int"
		resultType="kosmo.team.project.dto.PlayerRecordDTO">

		select
		player AS "player",
		games_played AS "games_played",
		wins as "wins",
		draws  as "draws",
		losses as "losses",
		goals_for as "goals_for",
		goals_assist as "goals_assist"

		FROM
		player_record
		where
		player=#{m_no}

	</select>

















</mapper>
