<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosmo.team.project.dao.CommunityDAO">

	<select id="getNoticeBoardList"
		resultType="kosmo.team.project.dto.CommunityDTO"
		parameterType="kosmo.team.project.dto.CommunitySearchDTO">
		select * from ( select rownum RNUM, zxcvb.* from (

		select
		b_no AS
		"b_no",
		subject AS "subject",
		writer AS "writer",
		content AS "content",
		to_char(reg_date, 'YYYY-MM-DD') AS "reg_date",
		readcount AS "readcount"
		FROM
		noticeboard
		order by
		b_no desc
		    	
		    <![CDATA[
			) zxcvb) where  RNUM  >= #{begin_rowNo}  and RNUM <= #{end_rowNo}
		]]>
	</select>



	<select id="getNoticeBoardListCnt" resultType="int">
		select
		count(*)
		from
		noticeboard
	</select>


	<!-- 게시판 모든 행의 개수 구하는 select 문 내포하는 select 태그 선언하기 -->
	<select id="getNoticeBoardAllCnt" resultType="int">
		select count(*)
		from
		noticeboard
	</select>



	<select id="getNoticeBoard" parameterType="int"
		resultType="kosmo.team.project.dto.CommunityDTO">

		select
		b_no "b_no"
		,subject "subject"
		,writer "writer"
		,reg_date
		"reg_date"
		,readcount "readcount"
		,content "content"


		from noticeboard

		where
		b_no=#{b_no}
		<!-- ========================================== #{b_no} 뜻 ========================================== 
			select SQL 문에 참여할 외부 데이터중에 int 또는 double 또는 String 을 표현하기. 참여하는 외부 데이터가 int 
			또는 double 또는 String 이라면 b_no 라는 영문 대신에 영문 아무거나 써도 된다. 외부 데이터가 문자라면 표현할 때 
			앞뒤에 ' 가 붙는다. 숫자라면 표현할 때 앞뒤에 ' 없이 그냥 표현된다. -->


	</select>


	<update id="updateNoticeBoardReadCount" parameterType="int">

		update noticeboard
		set
		readcount = readcount +1 where b_no = #{b_no}



	</update>


	<update id="updateNoticeBoard"
		parameterType="kosmo.team.project.dto.CommunityDTO">

		update noticeboard set

		subject = #{subject}
		,writer = #{writer}
		,content
		=
		#{content}
		, reg_date = SYSDATE

		where b_no = #{b_no}

		<!-- ========================================== #{subject} 뜻 ========================================== 
			=============== {subject} 의미 =============== SQL 문에 참여할 BoardDTO 객체 안의 멤버변수 
			subject 안의 데이터를 표현하기 즉 제목을 표현하기 =============== # 의미 =============== 표현할 
			데이터가 문자라면 표현할 때 앞뒤에 ' 를 붙인다. 숫자라면 표현할 때 앞뒤에 ' 를 붙이지 않는다. -->
	</update>

	<select id="getNoticeBoardCnt" parameterType="int"
		resultType="int">
		select
		count(*) from noticeboard where b_no=#{b_no}
	</select>


	<delete id="deleteNoticeBoard"
		parameterType="kosmo.team.project.dto.CommunityDTO">
		delete from
		noticeboard
		where
		b_no=#{b_no}
		<!-- ========================================== #{b_no} 뜻 ========================================== 
			=============== {b_no} 의미 =============== SQL 문에 참여할 BoardDTO 객체 안의 멤버변수 
			b_no 안의 데이터를 표현하기 즉 게시판 번호를 표현하기 =============== # 의미 =============== 표현할 
			데이터가 문자라면 표현할 때 앞뒤에 ' 를 붙인다. 숫자라면 표현할 때 앞뒤에 ' 를 붙이지 않는다. -->
	</delete>








	<!-- 자유게시판 -->



	<select id="getFreeBoardList"
		resultType="kosmo.team.project.dto.CommunityDTO"
		parameterType="kosmo.team.project.dto.CommunitySearchDTO">
		select * from ( select rownum RNUM, zxcvb.* from (

		select
		b_no AS
		"b_no",
		subject AS "subject",
		writer AS "writer",
		content AS "content",
		to_char(reg_date, 'YYYY-MM-DD') AS "reg_date",
		readcount AS "readcount"
		FROM
		freeboard
		order by
		b_no desc
		    	
		    <![CDATA[
			) zxcvb) where  RNUM  >= #{begin_rowNo}  and RNUM <= #{end_rowNo}
		]]>
	</select>

	<select id="getFreeBoardListCnt" resultType="int">
		select
		count(*)
		from
		freeboard
	</select>

	<!-- 게시판 모든 행의 개수 구하는 select 문 내포하는 select 태그 선언하기 -->
	<select id="getFreeBoardAllCnt" resultType="int">
		select count(*)
		from
		freeboard
	</select>



	<select id="getFreeBoard" parameterType="int"
		resultType="kosmo.team.project.dto.CommunityDTO">

		select
		b_no "b_no"
		,subject "subject"
		--,writer "writer"
		,( select nickname from member where m_no = ${b_no}) as "writer"		
		,reg_date
		"reg_date"
		,readcount "readcount"
		,content "content"


		from freeboard

		where
		b_no=#{b_no}
		<!-- ========================================== #{b_no} 뜻 ========================================== 
			select SQL 문에 참여할 외부 데이터중에 int 또는 double 또는 String 을 표현하기. 참여하는 외부 데이터가 int 
			또는 double 또는 String 이라면 b_no 라는 영문 대신에 영문 아무거나 써도 된다. 외부 데이터가 문자라면 표현할 때 
			앞뒤에 ' 가 붙는다. 숫자라면 표현할 때 앞뒤에 ' 없이 그냥 표현된다. -->


	</select>

	<select id="getFreeBoardDetail" parameterType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO" resultType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO" >
	
		SELECT 
				B_NO			"b_no"
			,	SUBJECT			"subject"
			,	WRITER			"writer"
			,	REG_DATE		"reg_date" 
			,	READCOUNT		"readcount"
			,	CONTENT			"content"
				
		FROM	FREEBOARD
		        
		WHERE	B_NO	=	#{ b_no }   
        
	</select>

	<select id="getFreeBoardDetailCommentPageListCount" parameterType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO" resultType="int" >
	
		SELECT COUNT(*)			
	            
		FROM FREEBOARD_COMMENT

		WHERE   
				1 = 1
        		AND
				B_NO = #{ b_no }
		
	</select>

	<select id="getFreeBoardDetailCommentPageList" parameterType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO" resultType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO" >
		
			SELECT * FROM 
			( 
				SELECT 
						ROWNUM RNUM
					,	ZXCVB.* 
					
				FROM 
				(	
		
					SELECT
							COMMENT_NO                      AS "comment_no"
						,	B_NO							AS "b_no" 
						,	NICK_NAME						AS "nick_name"
						,	CONTENT							AS "content"
						,	PRINT_NO						AS "print_no"
						,	PRINT_LEVEL						AS "print_level"
						,	TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI:SS') AS "reg_date"
									
					FROM FREEBOARD_COMMENT
					
					WHERE
							1 = 1
							AND
							B_NO = #{ b_no }
									 
					ORDER BY 
							GROUP_NO DESC, PRINT_NO ASC
	        	
		
				) ZXCVB 
	<![CDATA[
			
				WHERE	ROWNUM <= ${ end_rowNo } 
			) 
			
			WHERE	RNUM >= ${ begin_rowNo }
			
	]]>
	
	</select>	

	<insert id="insertFreeBoardDetailComment" parameterType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO">
	
		INSERT	INTO	FREEBOARD_COMMENT
		(
				COMMENT_NO
			,	B_NO
			,	NICK_NAME
			,	CONTENT
			,	GROUP_NO
			,	PRINT_NO
			,	PRINT_LEVEL
			,	REG_DATE
		) 
		VALUES 
		(
				( SELECT NVL(MAX(COMMENT_NO),0) + 1 FROM FREEBOARD_COMMENT )
			,	#{ b_no }
			,	#{ nick_name }
			,	#{ content }
			,	( SELECT NVL(MAX(COMMENT_NO),0) + 1 FROM FREEBOARD_COMMENT )	
			,	0
			,	0
			,	SYSDATE
		)
		
	</insert>

	<update id="updateFreeBoardDetailCommentToComment" parameterType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO">
	
		UPDATE	FREEBOARD_COMMENT
		
		SET
				PRINT_NO	=	PRINT_NO + 1
		
        WHERE
        		GROUP_NO	=	( SELECT GROUP_NO FROM FREEBOARD_COMMENT WHERE COMMENT_NO = #{ comment_no } )
        		AND
        		PRINT_NO	>	( SELECT PRINT_NO FROM FREEBOARD_COMMENT WHERE COMMENT_NO = #{ comment_no } )
        		
	</update>
	
	<insert id="insertFreeBoardDetailCommentToComment" parameterType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO">
	
		INSERT	INTO	FREEBOARD_COMMENT
		(
				COMMENT_NO
			,	B_NO
			,	NICK_NAME
			,	CONTENT
			,	GROUP_NO
			,	PRINT_NO
			,	PRINT_LEVEL
			,	REG_DATE
		) 
		VALUES 
		(
				( SELECT NVL(MAX(COMMENT_NO),0) + 1 FROM FREEBOARD_COMMENT )
			,	#{ b_no }
			,	#{ nick_name }
			,	#{ content }
			,	( SELECT GROUP_NO 			FROM FREEBOARD_COMMENT WHERE COMMENT_NO = #{ comment_no })
			,	( SELECT PRINT_NO	 + 1	FROM FREEBOARD_COMMENT WHERE COMMENT_NO = #{ comment_no })
			,	( SELECT PRINT_LEVEL + 1 	FROM FREEBOARD_COMMENT WHERE COMMENT_NO = #{ comment_no })
			,	SYSDATE
		)
		
	</insert>
	
	<update id="updateFreeBoardDetailReadCountPlusOne" parameterType="kosmo.team.project.dto.CommunityFreeBoardDetailDTO">
	
		UPDATE	FREEBOARD
				
		SET		READCOUNT	=	READCOUNT + 1
		
		WHERE	B_NO		=	#{ b_no }
        
	</update>






























	<!-- 갤러리 -->
	<select id="getImageBoardList"
		resultType="kosmo.team.project.dto.CommunityDTO"
		parameterType="kosmo.team.project.dto.CommunityDTO">
		SELECT
		subject AS "subject",
		writer AS "writer",
		to_char(reg_date, 'YYYY-MM-DD') AS "reg_date",
		readcount AS "readcount"
		FROM
		imageboard
	</select>

	<select id="getImageBoardListCnt" resultType="int">
		select
		count(*)
		from
		imageboard
	</select>
</mapper>