<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosmo.team.project.dao.RecordsDAO">
	<!-- 전체 순위 -->
	<select id="getRecordsRankingTabAll" resultType="kosmo.team.project.dto.RecordsDTO" parameterType="kosmo.team.project.dto.RecordsDTO">
		select
		    m.nickname AS "nickname",
		    p.games_played as "games_played",
		    p.wins as "wins",
		    p.draws as "draws",
		    p.losses as "losses",
		    p.goals_for as "goals_for",
		    p.goals_assist as "goals_assist"  
		from
		    member m, player_record p
		where
		    p.player = m.m_no
		<if test="sort == null or sort.isEmpty()">
		    order by games_played desc
		</if>
		<if test="sort != null and !sort.isEmpty()">
		    order by ${sort}
		</if>
	</select>
	
	<select id="getRecordsRankingTabAllListCnt" resultType="int">
		select 
			count(*) 
		from
		    player_record
	</select>
	
	<select id="getRecordsGoalRatingTabAll" resultType="kosmo.team.project.dto.RecordsDTO" parameterType="kosmo.team.project.dto.RecordsDTO">
		SELECT
			m.nickname AS "nickname",
			p.goals_for as "goals_for"
		FROM 
			member m, player_record p
		where
		    p.player = m.m_no
		ORDER BY 
			p.goals_for DESC
	</select>
	
	<select id="getRecordsWinRatingTabAll" resultType="kosmo.team.project.dto.RecordsDTO" parameterType="kosmo.team.project.dto.RecordsDTO">
		SELECT
			m.nickname AS "nickname",
			p.wins as "wins"
		FROM 
			member m, player_record p
		where
		    p.player = m.m_no
		ORDER BY 
			p.wins DESC
	</select>
	
	<select id="getRecordsAssistRatingTabAll" resultType="kosmo.team.project.dto.RecordsDTO" parameterType="kosmo.team.project.dto.RecordsDTO">
		SELECT
			m.nickname AS "nickname",
			p.goals_assist as "goals_assist"
		FROM 
			member m, player_record p
		where
		    p.player = m.m_no
		ORDER BY 
			p.goals_assist DESC
	</select>
	
	<!-- 지역별 순위 -->
	
	<select id="getRecordsRankingTabRegion" resultType="kosmo.team.project.dto.RecordsDTO" parameterType="kosmo.team.project.dto.RecordsDTO">
		select
		    m.nickname AS "nickname",
		    p.games_played as "games_played",
		    p.wins as "wins",
		    p.draws as "draws",
		    p.losses as "losses",
		    p.goals_for as "goals_for",
		    p.goals_assist as "goals_assist",
			s.name AS "region"  
		from
		    member m, player_record p, sido s
		where
			1=1
			and
		    p.player = m.m_no
		    and
		    m.sido_id = s.sido_id
		    <if test="sido_id != null">
		    	and
		    	m.sido_id=#{sido_id}
		    </if>
		<if test="sort == null or sort.isEmpty()">
		    order by games_played desc
		</if>
		<if test="sort != null and !sort.isEmpty()">
		    order by ${sort}
		</if>
	</select>
	
	<select id="getRecordsRankingTabRegionListCnt" resultType="int">
		select 
			count(*) 
		from
		    player_record
	</select>
	
	<select id="getRecordsGoalRatingTabRegion" resultType="kosmo.team.project.dto.RecordsDTO" parameterType="kosmo.team.project.dto.RecordsDTO">
		SELECT
			m.nickname AS "nickname",
			p.goals_for as "goals_for"
		FROM 
			member m, player_record p
		where
		    p.player = m.m_no
		    <if test="sido_id != null">
		    	and
		    	sido_id=#{sido_id}
		    </if>
		ORDER BY 
			p.goals_for DESC
	</select>
	
	<select id="getRecordsWinRatingTabRegion" resultType="kosmo.team.project.dto.RecordsDTO" parameterType="kosmo.team.project.dto.RecordsDTO">
		SELECT
			m.nickname AS "nickname",
			p.wins as "wins"
		FROM 
			member m, player_record p
		where
		    p.player = m.m_no
		    <if test="sido_id != null">
		    	and
		    	sido_id=#{sido_id}
		    </if>
		ORDER BY 
			p.wins DESC
	</select>
	
	<select id="getRecordsAssistRatingTabRegion" resultType="kosmo.team.project.dto.RecordsDTO" parameterType="kosmo.team.project.dto.RecordsDTO">
		SELECT
			m.nickname AS "nickname",
			p.goals_assist as "goals_assist"
		FROM 
			member m, player_record p
		where
		    p.player = m.m_no
		    <if test="sido_id != null">
		    	and
		    	sido_id=#{sido_id}
		    </if>
		ORDER BY 
			p.goals_assist DESC
	</select>
</mapper>