<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosmo.team.project.dao.StadiumDAO">

	<select id="getStadiumList"
		resultType="kosmo.team.project.dto.StadiumDTO"
		parameterType="kosmo.team.project.dto.StadiumDTO">
		select * from (
		select rownum RNUM, zxcvb.* from (
		select
		st.stadium_no
		AS "stadium_no"
		,st.stadium_name AS "stadium_name"
		,s.name
		AS
		"sido_name"
		,si.name as "sigungu_name"
		,st.detailed_address as
		"detail_address"
		,to_char(st.reg_date, 'YYYY-MM-DD') AS "reg_date"
		,st.content as
		"content"
		,st.stadium_status as "stadium_status"

		FROM
		stadium st
		LEFT
		JOIN
		sido s ON st.sido_name = s.sido_id
		LEFT JOIN sigungu si ON
		st.sigungu_name = si.sigungu_id

        <![CDATA[ ) zxcvb) where RNUM >= #{begin_rowNo} and RNUM <= #{end_rowNo} ]]>
	</select>

	<select id="getStadiumListCnt" resultType="int">
		select
		count(*)
		from
		stadium
	</select>


	<select id="getStadiumListAllCnt" resultType="int">
		select
		count(*)
		FROM
		stadium st
		LEFT JOIN sido s ON st.sido_name =
		s.sido_id
		LEFT JOIN
		sigungu
		si ON st.sigungu_name = si.sigungu_id



	</select>



	<select id="getStadium" parameterType="int"
		resultType="kosmo.team.project.dto.StadiumDTO">

		select
		st.stadium_no AS "stadium_no"
		,st.stadium_name AS
		"stadium_name"
		,s.name AS "sido_name"
		,si.name as "sigungu_name"
		,st.detailed_address
		as
		"detail_address"
		,to_char(st.reg_date,
		'YYYY-MM-DD') AS "reg_date"
		,st.content as "content"
		,st.stadium_status
		as "stadium_status"

		FROM
		stadium st
		LEFT JOIN sido s ON st.sido_name =
		s.sido_id
		LEFT JOIN
		sigungu si ON st.sigungu_name = si.sigungu_id

		where
		stadium_no=#{stadium_no}
	</select>

	<!-- 시간테이블 -->

	<select id="getTime" parameterType="int"
		resultType="kosmo.team.project.dto.TimeDTO">

		select
		time_no as "time_no"
		,time_range as "time_range"
		from
		time_table
	</select>


	<insert id="insertStadiumRent"
		parameterType="kosmo.team.project.dto.RentStadiumDTO">
		insert into booking(
		booking_no
		,stadium_no
		,booking_date
		,time_slot
		)
		values ( (select
		nvl(max(booking_no),0)+1
		from booking)
		,#{stadium_no}
		,#{date}
		,#{time_slot}
		)
	</insert>


	<select id="getRentTimeCnt"
		parameterType="kosmo.team.project.dto.RentStadiumDTO" resultType="int">
		select count(*) from booking
		where stadium_no = #{stadium_no} and
		time_slot = #{time_slot} and booking_date = #{date}
	</select>






	<!-- <select id="getRentTimeSlotCnt"
		parameterType="kosmo.team.project.dto.RentStadiumDTO" resultType="int">
		select count(time_slot)
		from booking
		where stadium_no = #{stadium_no}
		group by booking_date
		having count(time_slot) = 11
	</select> -->


	<select id="getFullRent" parameterType="int" resultType="String">
    select to_char(booking_date, 'yyyy-mm-dd') as booking_date
    from booking
    where stadium_no = #{stadium_no}
    group by booking_date
    having count(time_slot) = 11
</select>






</mapper>