* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: none;
	margin: 0 auto;
}

th, td {
	padding: 10px 15px 10px 15px;
}

th {
	background-color: rgba(197, 146, 70, 0.4);
    color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.titleBackgoundText{
	border-bottom: 1px solid #000000;
	width: 55%;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.marketplaceDetailBtnDiv{
	justify-content: center;
	margin-top: 10px;
	margin-left: 750px;
	display: flex;
	gap: 10px;
}

.moveListBtn, .marketplaceUpDelBtn{
	width: 70px;
	height: 35px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}