* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: gray;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
    border-bottom: 1px solid gray;
	border-color: gray;
}

th {
	background-color: rgba(197, 146, 70, 0.4);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.titleBackgoundText{
	border-bottom: 1px solid #006666;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.moveListBtn{
	width: 100px;
	height: 40px;
	margin-top: 10px;
	margin-left: 900px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.checkBoardUpBtn, .checkBoardDelBtn{
	width: 150px;
	height: 50px;
	margin-top: 20px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.marketplaceBoardUpDelBtnDiv{
	text-align: center;
}