* {
	font-size: 15px;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.titleBackgoundText{
	border-bottom: 1px solid #000000;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.communityMarketplaceBoardFormContainer{
	margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.communityMarketplaceBoardFormBoard{
	width: calc(25% - 20px);
    max-width: 300px;
    height: 380px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.communityMarketplaceBoardImageDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.communityMarketplaceBoardSubject {
	margin-top: 10px;
}

.communityMarketplaceBoardImage{
	max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.newCommunityMarketplaceBtnDiv {
	margin-top: 0px;
	margin-right: 1050px;
	text-align: center;
}

/* 추가 */
.text { 
  margin-top: 20px;
  color: #2D3439;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

/*tab css*/

.communityMarketplaceCategoryTab{
	float: left;
	width: 100%;
	height: 100%;
}

.communityMarketplaceCategoryTabNav{
	font-size: 0;
	text-align: center;
}

.communityMarketplaceCategoryTabNav li{
	display: inline-block;
	height: 46px;
	width: 300px;
	text-align: center;
	border: 1px solid #ddd;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
    border-radius: 30px;
}

.communityMarketplaceCategoryTabNav li a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3px;
}

.communityMarketplaceCategoryTabNav li a{
	position: relative;
	display: block;
	padding: 0 30px;
	line-height: 46px;
	text-decoration: none;
	font-size: 16px;
}

.communityMarketplaceCategoryTabNav li a:hover, .communityMarketplaceCategoryTabNav li a.active{
	background: #006666;
	color: #FFFFFF;
    border-radius: 30px;
}

.communityMarketplaceCategoryTabContent{
	padding: 20px;
	height: 244px;
}

/*QnA*/
* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: gray;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
    border-bottom: 1px solid gray;
	border-color: gray;
}

th {
	background-color: #c59246e0;
    color: white;
}

.communityMarketplaceSearch{
	display: flex;
	margin-top: 30px;
	margin-left: 650px;
	margin-bottom: 30px;
}

.searchSelect{
	height: 40px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
}

.keyword1{
	height: 40px;
	width: 400px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
}

.searchBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.communityMarketplaceAllPaingsDiv{
	text-align: center;
}

.communityMarketplaceFormFontLightGray{
    color: #999999;
}

#communityMarketplaceAllCount{
    text-align: center;
    margin-left: 350px;
}

.activePageNo{
    color: #FFFFFF;
    background-color: #c59246e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.arrowLeft {
    color: #c59246e0;
}

.arrowLeft strong{
    font-size: 20px;
    margin-right: 10px;
}

.arrowRight {
    color: #c59246e0;
}

.arrowRight strong{
    font-size: 20px;
    margin-left: 10px;
}

.newCommunityMarketplaceSaleBoardFormBtnDiv{
	margin-left: 1430px;
}

.newCommunityMarketplaceSaleBoardFormBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.communityMarketplaceSalePaingsDiv{
	text-align: center;
}

.newCommunityMarketplaceFreeSharingBoardFormBtnDiv{
	margin-left: 1430px;
}

.newCommunityMarketplaceFreeSharingBoardFormBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.communityMarketplaceFreeSharingPaingsDiv{
	text-align: center;
}