* {
    font-size: 15px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}

table {
	border-collapse: collapse;
	border-color: gray;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
    border-bottom: 1px solid gray;
	border-color: gray;
}

th {
	background-color: #c59246e0;
    color: white;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.titleBackgoundText {
    border-bottom: 1px solid #000000;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.newCommunityGallaryBtnDiv{
	margin-top: 20px;
	margin-right: 1050px;
	text-align: center;
}

.newCommunityGallaryBtn{
	width: 100px;
	height: 30px;
}



.communityGallaryFormContainer {
	margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
}

.communityGallaryFormBoard {
    width: calc(25% - 20px);
    max-width: 300px;
    height: 380px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.communityGallaryImageDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.communityGallarySubject {
	margin-top: 10px;
}

.communityGallaryImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.text { 
  margin-top: 20px;
  color: #2D3439;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.communityGallaryPaging{
	text-align: center;
}

.activePageNo{
    color: #FFFFFF;
    background-color: #c59246e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.arrowLeft {
    color: #c59246e0;
}

.arrowLeft strong{
    font-size: 20px;
    margin-right: 10px;
}

.arrowRight {
    color: #c59246e0;
}

.arrowRight strong{
    font-size: 20px;
    margin-left: 10px;
}

.newCommunityGallaryBtnDiv{
	margin-left: 1450px;
}

.newCommunityGallaryBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.communityGallaryFormSearch{
	display: flex;
	margin-top: 20px;
}

.searchSelect{
	height: 40px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
}

.keyword1{
	height: 40px;
	width: 400px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
	text-align: center;
}

.searchBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}