/* 수락 대기인원 관련 */
.modalDiv_waiting
{
	display: none;
}

.bg_waiting
{
	width: 100vw;
	height: 100vw;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_waiting
{
	position: middle;
	z-index: 10;
	background-color: white;
	width: 50%;
	left: 25%;
	top: 25%;
	padding: 20px;
	border-radius: 15px;
} 
	

.waitingCheck {
   	cursor: pointer;
   	background: lightblue; /* 변경하고 싶은 색상으로 수정하세요 */
    font-weight: bold;
}




/* 팀생성 관련 */
.modalDiv_regTeam
{
	display: none;
}

.bg_regTeam
{
	width: 100vw;
	height: 100vw;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_regTeam
{
	position: middle;
	z-index: 10;
	background-color: white;
	width: 50%;
	left: 25%;
	top: 25%;
	padding: 20px;
	border-radius: 15px;
} 


/* 팀정보 관련 */
.modalDiv_myTeamInfo
{
	display: none;
}

.bg_modalDiv_myTeamInfo
{
	width: 100vw;
	height: 100vw;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_myTeamInfo
{
	position: middle;
	z-index: 10;
	background-color: white;
	width: 50%;
	left: 25%;
	top: 25%;
	padding: 20px;
	border-radius: 15px;
} 













