* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 10px 15px 10px 15px;
}

th {
	background-color: lightgray;
}

.newRecruitLessonBoardFormRegTable th {
	background-color: rgba(197, 146, 70, 0.4);;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.titleBackgoundText{
	border-bottom: 1px solid #000000;
	width: 55%;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.newRecruitLessonBoardFormRegTable{
	margin: 0 auto;
	margin-top: 50px;
	width: 1000px;
	height: 200px;
}

.boardResetBtn{
	width: 100px;
	height: 40px;
	margin-top: 10px;
	margin-left: 900px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.boardRegBtn, .moveListBtn{
	width: 150px;
	height: 50px;
	margin-top: 20px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.newRecruitLessonBoardFormBtnDiv{
	text-align: center;
}

#sido, #state{
	height: 35px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
	text-align: center;
	width: 200px;
}

.title{
	height: 35px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
}

.content{
	border-radius: 10px;
	border: 1px solid #c59246e0;
}