

* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: gray;
}

th, td {
	padding: 10px 15px 10px 15px;
	border-color: gray;
}

th {
	background-color: lightgray;
}

html,
body {
  /* width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow: hidden; */
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.newRecruitTeamBoardBtnDiv{
	margin-top: 10px;
	margin-right: 900px;
	text-align: center;
}

.newRecruitTeamBoardBtn{
	width: 100px;
	height: 30px;
}

.recruitTeamBoardFormTitle{
	position: relative;
}

.titleBackgoundImg{
	opacity: 0.5;
	width: 100%;
	height: 200px;
}

.titleBackgoundText{
	font-size: 70px;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.matchingCategory{
	text-align:center;
	margin-top: 20px;
}

.teamCategory, .teamMemberCategory{
	width: 100px;
	height: 30px;
}


.teamRecruit {
    cursor: pointer;
}

 .onvalue {
    background: lightblue; /* 변경하고 싶은 색상으로 수정하세요 */
    font-weight: bold;
} 

