

* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: gray;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
}

th {
	background-color: #c59246e0;
    color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.newRecruitTeamBoardBtnDiv{
	margin-top: 10px;
	margin-right: 900px;
	text-align: center;
}

.newRecruitTeamBoardBtn{
	width: 100px;
	height: 30px;
}

.titleBackgoundText{
	border-bottom: 1px solid #000000;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.matchingCategory{
	text-align:center;
	margin-top: 20px;
}

.teamCategory, .teamMemberCategory{
	width: 100px;
	height: 30px;
}


.teamRecruit {
    cursor: pointer;
    height: 46px;
	width: 280px;
	text-align: center;
	border: 1px solid #ddd;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
}

 .onvalue {
    background: #006666; /* 변경하고 싶은 색상으로 수정하세요 */
    color: #FFFFFF;
    border-radius: 30px;
} 

.recruitTeamMemBoardCategoryTab {
    margin: 0 auto;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 100px 0;
    margin-bottom: 60px;
}

.recruitTeamMemBoardCategoryTab td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
}

.recruitTeamMemBoardCategoryTab td {
    border-radius: 30px;
}

.recruitTeamMemBoardCategoryTab td {
    border-radius: 30px;
}

.recruitTeamMemBoardCategoryTab td.onvalue {
    background-color: #006666; /* 선택된 셀에 대한 스타일 */
}

.top{
	margin-top: 30px;
}

.sido, .sigungu{
	height: 35px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
}

.newRecruitTeamMemBoardBtnDiv{
	margin-top: 20px;
	margin-left: 900px;
	text-align: center;
}

.newRecruitTeamMemBoardBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.activePageNo{
    color: #FFFFFF;
    background-color: #c59246e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.arrowLeft {
    color: #c59246e0;
}

.arrowLeft strong{
    font-size: 20px;
    margin-right: 10px;
}

.arrowRight {
    color: #c59246e0;
}

.arrowRight strong{
    font-size: 20px;
    margin-left: 10px;
}

.recruitTeamMemBoardPaging{
	text-align: center;
}

.recruitTeamMemBoardFormRowCntPerPage{
	margin-left: 850px;
}

.rowCntPerPage{
	border: none;
}

.recruitTeamMemBoardTopContents{
	text-align: center;
	margin-top: 30px;
}

.boardListTable{
	width: 1000px;
}

.boardListTable td{
    height: 70px;
    border-bottom: 1px solid gray;
}

[class$='boardListTable'] tr:nth-child(n+2):hover{
	background-color:rgba(211, 211, 211, 0.3);
}

.recruitTeamMemBoardFormFontLightGray{
	color: #999999;
}

.search{
	display: flex;
	margin-top: 20px;
	border-top: 1px solid #c59246e0;
}

.searchSelect{
	height: 40px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
}

.keyword1{
	height: 35px;
	width: 500px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
	text-align: center;
}