* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: gray;
}

th, td {
	padding: 10px 15px 10px 15px;
	border-color: gray;
}

th {
	background-color: lightgray;
}

html,
body {
  /* width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow: hidden; */
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}
/* 
.newRecruitMemBoardBtnDiv{
	margin-top: 10px;
	margin-right: 900px;
	text-align: center;
}

.newRecruitMemBoardBtn{
	width: 100px;
	height: 30px;
}
 */
.recruitHiredBoardDetailFormTitle{
	position: relative;
}

.titleBackgoundImg{
	opacity: 0.5;
	width: 100%;
	height: 200px;
}

.titleBackgoundText{
	font-size: 70px;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

/* .matchingCategory{
	text-align:center;
	margin-top: 20px;
}

.teamCategory, .teamMemberCategory{
	width: 100px;
	height: 30px;
}





tab css
.tab{float:left; width:600px; height:290px;}
.tabnav{font-size:0; width:600px; border:1px solid #ddd;}
.tabnav li{display: inline-block;  height:46px; text-align:center; border-right:1px solid #ddd;}
.tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }
.tabnav li a.active:before{background:#7ea21e;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{ position:relative; display:block; background: #f8f8f8; color: #000; padding:0 30px; line-height:46px; text-decoration:none; font-size:16px;}
.tabnav li a:hover,
.tabnav li a.active{background:#fff; color:#7ea21e; }
.tabcontent{padding: 20px; height:500px;  border-top:none;} */