* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: none;
}

th, td {
	padding: 10px 15px 10px 15px;
}

th {
	background-color: rgba(197, 146, 70, 0.4);
    color: #000000;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.titleBackgoundText{
	border-bottom: 1px solid #000000;
	width: 55%;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.stadiumDetailBtnDiv{
	justify-content: center;
	margin-top: 30px;
	display: flex;
	gap: 10px;
}

.moveListBtn, .stadiumRegBtn{
	width: 70px;
	height: 35px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.stadiumDiv{
	display: flex;
	gap: 50px;
	justify-content: center;
	margin-top: 50px;
}

.rentStadiumTable{
	text-align: center;
	margin: 0 auto;
}

.stadiumDetailTable{
	width: 500px;
	color: #000000;
}

#date, #time_slot{
	border: 1px solid #c59246e0;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    width: 250px;
}