* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: gray;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
}

th {
	background-color: #c59246e0;
    color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.newStadiumTransferBoardBtnDiv{
	margin-top: 20px;
	margin-left: 900px;
	text-align: center;
}

.newStadiumTransferBoardBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.titleBackgoundText{
	border-bottom: 1px solid #000000;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.activePageNo{
    color: #FFFFFF;
    background-color: #c59246e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.arrowLeft {
    color: #c59246e0;
}

.arrowLeft strong{
    font-size: 20px;
    margin-right: 10px;
}

.arrowRight {
    color: #c59246e0;
}

.arrowRight strong{
    font-size: 20px;
    margin-left: 10px;
}

.sido, .Stadiumkeyword1, .Stadiumkeyword2, .orAnd, .sigungu{
	height: 35px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid #c59246e0;
}

.stadiumTransferFormFontLightGray{
	color: #999999;
}

.stadiumTransferPaging{
	text-align: center;
}

.searchBtn, .searchAllBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.searchBtn{
	margin-right: 30px;
}

#stadiumTransferAllCount{
	text-align: center;
    margin-left: 460px;
}

.stadiumTransferFormRowCntPerPage{
	margin-left: 820px;
}

.rowCntPerPage{
	border: none;
}

.stadiumTransferFormTopContents{
	display: flex;
	margin-top: 30px;
}

.boardListTable{
	width: 1000px;
}

.boardListTable td{
    height: 70px;
    border-bottom: 1px solid gray;
}

[class$='boardListTable'] tr:nth-child(n+2):hover{
	background-color:rgba(211, 211, 211, 0.3);
}