* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: gray;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
	border-color: gray;
}

th {
	background-color: lightgray;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.recordsStatisticsFormTitle{
	position: relative;
}

.titleBackgoundImg{
	opacity: 0.5;
	width: 100%;
	height: 100px;
}

.titleBackgoundText{
	font-size: 40px;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}