html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

li {
    list-style-type: none;
    cursor: pointer; 
}

/*FAQ*/

.customerServiceitem {
    cursor: pointer;
    margin-bottom: 40px;
    }

.customerServiceitem .active .text{ 
    font-weight:900;
    text-shadow: 5px 5px 5px #2D3439(5, 5, 5, 5);
    color:#2D3439;
}

.additional {
    display: none;
    transition: height 0.5s; 
    margin-top: 20px;
    color:#5A6872;
}

.customerServiceitem .active .additional {
    display: block;
}

.text { 
  margin-top: 20px;
  color: #2D3439;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#list-area span {
  color:  #879BAB;
  font-size: 18px;
  font-style: normal;
  padding-right: 16px;
}

#main-area {
    display: flex;
    justify-content: center; 
    margin-left:20%; 
    margin-right:5%;
    margin-top: 80px; 
}

#category-area {
    flex: 3; 
}

#list-area {
    flex: 7; 
    font-size: 18px;
}

#category li {
    padding: 12px;
    color:  #2D3439;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    margin-top: 20px;
}

#category li.active {
  background-color: #333;
  color: #fff;
  width: 50%;
  border-radius: 8px;
  font-weight: bold;
  padding:12px 16px;
  font-size: 18px;
}

.customerServiceCategory span{
	font-size: 18px;
}
 
.customerServiceFormTitle{
	/* position: relative; */
	border-bottom: 1px solid #FFFFFF;
}
/* 
.titleBackgoundImg{
	opacity: 0.5;
	width: 100%;
	height: 100px;
}
 */
.titleBackgoundText{
	font-size: 40px;
	/* position: absolute; */
	text-align: center;
	/* top: 50%;
	left: 50%;
	transform: translate( -50%, -50% ); */
	
}

/*tab css*/

.customerServiceCategoryTab{
	float: left;
	width: 100%;
	height: 100%;
}

.customerServiceCategoryTabNav{
	font-size: 0;
	text-align: center;
}

.customerServiceCategoryTabNav li{
	display: inline-block;
	height: 46px;
	width: 300px;
	text-align: center;
	border: 1px solid #ddd;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
    border-radius: 30px;
}

.customerServiceCategoryTabNav li a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3px;
}

.customerServiceCategoryTabNav li a{
	position: relative;
	display: block;
	padding: 0 30px;
	line-height: 46px;
	text-decoration: none;
	font-size: 16px;
}

.customerServiceCategoryTabNav li a:hover, .customerServiceCategoryTabNav li a.active{
	background: #006666;
	color: #FFFFFF;
    border-radius: 30px;
}

.customerServiceCategoryTabContent{
	padding: 20px;
	height: 244px;
}

/*QnA*/
* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	border-color: none;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
    border-bottom: 1px solid gray;
	border-color: gray;
}

th {
	background-color: #c59246e0;
    color: white;
}

.newCustomerServiceQnABoardBtnDiv{
	margin-top: 20px;
	margin-left: 900px;
	text-align: center;
}

.newCustomerServiceQnABoardBtn{
	width: 100px;
	height: 40px;
    background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
}

#customerServiceQnABoardAllCount{
    text-align: center;
    margin-right: 900px;
}

.customerServiceCategoryTabQnAPaging{
	text-align: center;
}

.customerServiceQnABoardListTable td{
    height: 70px;
}

.customerServiceQnAFormFontLightGray{
    color: #999999;
}

.activePageNo{
    color: #FFFFFF;
    background-color: #c59246e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.arrowLeft {
    color: #c59246e0;
}

.arrowLeft strong{
    font-size: 20px;
    margin-right: 10px;
}

.arrowRight {
    color: #c59246e0;
}

.arrowRight strong{
    font-size: 20px;
    margin-left: 10px;
}