* {
	font-size: 15px;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
}

html,
body {
  /* width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow: hidden; */
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.moveListBtnDiv{
	text-align: center;
	margin-top: 10px;
	margin-left: 870px;
}
.moveListBtn{
	width: 70px;
	height: 35px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.titleBackgoundText{
	border-bottom: 1px solid #006666;
	width: 55%;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	padding: 40px;
}

.upDelBoardBtnDiv{
	text-align: center;
	margin-top: 10px;
	margin-left: 795px;
}

.updateBoardBtn, .deleteBoardBtn{
	width: 70px;
	height: 35px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
    cursor: pointer;
}

.adminUpdateBtn, .adminDeleteBtn, .commentRegBtn{
	width: 50px;
	height: 25px;
	background-color: #c59246e0;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #c59246e0;
}

.customerServiceQnADetailCommentContent{
	border-bottom: 1px solid #000000;
}

.customerServiceQnADetailFormCommentInsertDiv{
	margin-top: 100px;
}

.customerServiceQnADetailFormRegTable{
	margin-top: 50px;
}