html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.mainFormContainer {
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.section {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
}

#sectionMain{
	background-color:#F5F5F5;
	height: calc(100% - 80px);
}

#sectionMain img {
    float: right;
    height: calc(100% - 80px);
}

#sectionMain > div {
    height: 100%;
    width: calc(50% - 1px);
    background-color: #F5F5F5;
    float: left;
}

.sectionMainTextDiv {
	display: flex;
	text-align: center;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 300px;
}

.sectionMainText{
	font-size: 40px;
}

#sectionMainText_1{
	font-size: 50px;
}

#sectionMainText_2{
	font-size: 50px;
}

#sectionMainText_3{
	font-size: 20px;
	color: #0BA780;
}

#sectionMainText_4{
	font-size: 40px;
	color: #055F49;
	text-decoration: underline;
	text-underline-position:under;
}

#sectionMainText_5{
	font-size: 20px;
	color: green;
	text-align: right;
	margin-right: 100px;
	margin-top: 50px;
}

/*<------------------------------------------------------->*/
/*<------------------- 통계 Section ----------------------->*/
/*<------------------------------------------------------->*/


#sectionStatistics{
	background-color:#F5F5F5;
	height: 100%;
	flex-direction: column;
}

#sectionStatistics strong{
	font-size: 50px;
}

.sectionStatisticsTitle{
	margin-top: 70px;
	
}

.sectionStatisticsContainer{
	display: flex;
	margin-top: 70px;
}

.recordsStatisticsRegionRatioTitle, .recordsStatisticsGenderRatioTitle, .recordsStatisticsAgeRatioTitle{
	background: #006666;
	color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-align: center;
}

.recordsStatisticsRegionRatioContainer, .recordsStatisticsGenderRatioContainer{
	border-right: 1px solid #006666;
}

.recordsStatisticsRegionRatioContainer, .recordsStatisticsGenderRatioContainer, .recordsStatisticsAgeRatioContainer{
	padding: 50px;
}
/*<------------------------------------------------------->*/
/*<------------------- 랭킹 Section ----------------------->*/
/*<------------------------------------------------------->*/

#sectionRanking{
	background-color:#F5F5F5;
	height: 100%;
	flex-direction: column;
}

#sectionRanking strong{
	font-size: 50px;
}

.sectionRankingTitle{
	margin-top: 100px;
}

table {
	border-collapse: collapse;
	border-color: gray;
	margin: 0 auto;
	margin-top:20px;
}

th, td {
	padding: 10px 15px 10px 15px;
	border-color: gray;
}

th {
	background-color: lightgray;
}

li{
	list-style-type: none;
	cursor: pointer;
}

ul, ol{
	list-style:none;
}

a{
	text-decoration:none;
}

.recordsRankingFormCategoryTab{
	float: left;
	width: 100%;
	height: 100%;
	margin-top: 50px;
}

.recordsRankingFormCategoryTabNav{
	font-size: 0;
	text-align: center;
}

.recordsRankingFormCategoryTabNav li{
	display: inline-block;
	height: 46px;
	width: 300px;
	text-align: center;
	border: 1px solid #ddd;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
    border-radius: 30px;
}

.recordsRankingFormCategoryTabNav li a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 3px;
}

.recordsRankingFormCategoryTabNav li a{
	position: relative;
	display: block;
	padding: 0 30px;
	line-height: 46px;
	text-decoration: none;
	font-size: 16px;
}

.recordsRankingFormCategoryTabNav li a:hover, .recordsRankingFormCategoryTabNav li a.active{
	background: #006666;
	color: #FFFFFF;
    border-radius: 30px;
}

.recordsRankingFormCategoryTabContent{
	padding: 20px;
	height: 244px;
}

.selected {
    color: #c59246e0; /* 변경하고 싶은 색상으로 수정하세요 */
    font-weight: bold;
}

/* Category All CSS */

.recordsRankingFormTabAllRating{
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	margin-bottom: 50px;
	width: 1000px;
}

.recordsRankingFormTabRegionRating{
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	margin-bottom: 50px;
	width: 1000px;
}

.recordsRankingFormTabGenderRating{
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	margin-bottom: 50px;
	width: 1000px;
}

.recordsRankingFormTabAgeRating{
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	margin-bottom: 50px;
	width: 1000px;
}

/*<------------------------------------------------------->*/
/*<------------------- 대회 일정 Section ------------------->*/
/*<------------------------------------------------------->*/

#sectionSchedule{
	background-color:#F5F5F5;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#sectionSchedule strong{
	font-size: 50px;
}

.sectionScheduleTitle{
	margin-top: 100px;
}

.sectionScheduleContainer{
	overflow-x: auto; /* 필요할 때만 스크롤이 생기도록 설정 */
    overflow-y: hidden; /* 세로 스크롤 제거 */
    white-space: nowrap; /* 요소들이 한 줄에 나타나도록 설정 */
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start; /* 요소들을 왼쪽으로 정렬 */
    align-items: flex-start; /* 요소들을 위쪽으로 정렬 */
    margin-top: 100px;
    padding-bottom: 20px; /* 요소들 사이의 간격 설정 */
}

.sectionScheduleFormBoard {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

.sectionScheduleFormBoardImageDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.sectionScheduleFormBoardSubject {
	text-align: center;
	margin-top: 25px;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.sectionScheduleFormBoardRegion{
	margin-bottom: 5px;
}

.sectionScheduleTournamentImg {
    max-height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
/*<---------------------------------------------------->*/
/*<------------------- 갤러리 Section ------------------->*/
/*<---------------------------------------------------->*/

#sectionMedia{
	background-color: #F5F5F5;
	height: 100%;
	flex-direction: column;;
}

#sectionMedia strong{
	font-size: 50px;
}

.sectionMediaGallaryTitle{
	margin-top: 100px;
}
 
.sectionMediaGallaryContainer::-webkit-scrollbar{
    display: none; 
}

.sectionMediaGallaryContainer{
	overflow-x: auto; /* 필요할 때만 스크롤이 생기도록 설정 */
    overflow-y: hidden; /* 세로 스크롤 제거 */
    white-space: nowrap; /* 요소들이 한 줄에 나타나도록 설정 */
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end; /* 요소들을 왼쪽으로 정렬 */
    align-items: flex-start; /* 요소들을 위쪽으로 정렬 */
    margin-top: 100px;
    padding-bottom: 20px; /* 요소들 사이의 간격 설정 */
}

.sectionMediaGallaryFormBoard {
	height: 300px;
    animation: bannermove 10s linear infinite;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

@keyframes bannermove{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform:translateX(-100%);
	}
}

.sectionMediaGallaryImageDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.sectionMediaGallarySubject {
	text-align: center;
	margin-top: 25px;
}

.sectionMediaGallaryImage {
    max-height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}