html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.mainFormContainer {
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.section {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: 1px solid #ccc;
}

#sectionMain{
	background-color:#F5F5F5;
	height: calc(100% - 80px);
}

#sectionMain img {
    float: right;
    height: calc(100% - 80px);
}

#sectionMain > div {
    height: 100%;
    width: calc(50% - 1px);
    background-color: #F5F5F5;
    float: left;
}

.sectionMainText {
	display: flex;
	text-align: center;
}

#sectionStatistics{
	background-color:orange;
	height: 100%;
}

#sectionRanking{
	background-color:yellow;
	height: 100%;
}

/*<------------------------------------------------------->*/
/*<------------------- 대회 일정 Section ------------------->*/
/*<------------------------------------------------------->*/

#sectionSchedule{
	background-color:green;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#sectionSchedule strong{
	font-size: 50px;
}

.regionlist{
	display: flex;
	flex-direction: row;
}

.sectionScheduleChoiceTable{
	border-collapse:collapse;
	margin-top: 100px;
	width: 100px;
	height: 50px;
}

.sectionScheduleRegionTable{
	border-collapse:collapse;
}

.sectionScheduleRegionTableSelect{
	cursor:pointer;
}

.sectionScheduleTournamentTableList{
	cursor:pointer;
}

#sectionSchedule .regionlist .sectionScheduleTournamentTable .sectionScheduleTournamentTableList .titleBackgroundImg{
	width: 20px;
	height: 10px;
}

.region {
    cursor: pointer;
}

.selected {
    color: red; /* 변경하고 싶은 색상으로 수정하세요 */
    font-weight: bold;
}

.tournament {
    cursor: pointer;
}
.selected2 {
    background-color: lightgray;
}


/*<---------------------------------------------------->*/
/*<------------------- 갤러리 Section ------------------->*/
/*<---------------------------------------------------->*/

#sectionMedia{
	background-color: #F5F5F5;
	height: 100%;
	flex-direction: column;
}

#sectionMedia strong{
	font-size: 50px;
}
 
.sectionMediaGallaryContainer::-webkit-scrollbar{
    display: none; 
}

.sectionMediaGallaryContainer{
	overflow-x: auto; /* 필요할 때만 스크롤이 생기도록 설정 */
    overflow-y: hidden; /* 세로 스크롤 제거 */
    white-space: nowrap; /* 요소들이 한 줄에 나타나도록 설정 */
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start; /* 요소들을 왼쪽으로 정렬 */
    align-items: flex-start; /* 요소들을 위쪽으로 정렬 */
    margin-top: 100px;
    padding-bottom: 20px; /* 요소들 사이의 간격 설정 */
}

.sectionMediaGallaryFormBoard {
	height: 300px;
    animation: bannermove 10s linear infinite;
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

@keyframes bannermove{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform:translateX(-100%);
	}
}

.sectionMediaGallaryImageDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.sectionMediaGallarySubject {
	margin-top: 10px;
}

.sectionMediaGallaryImage {
    max-height: 100%;
    border-radius: 10px;
}